{% extends 'base.html.twig' %}

{% block body %}

    <table id="table_1" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Comments</th>
        </tr>
        </thead>
    </table>

{% endblock %}

